 {{>navbar }}

<div class="container contacts">
  {{!-- test to see if no posts --}} {{#each contacts}}

  <div class="contact">
    <a href={{address}}><i class='{{icon}}'></i><div class="iconLabel">{{showPlatformAs}}</div>
    </a></div>


  {{/each}}
</div>