{{>navbar }}

<div class="container images">
  <h1>Behind the Scenes</h1>
  {{#each images}}
  <div class="column">
    {{#each this}}
    <figure>
      <img src={{image.secure_url}} alt={{title}} />
    </figure>
    {{/each}}
  </div>
  {{/each}}
  <div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="modal-img">
  </div>
</div>

<script>
  //Modal stuff
  document.querySelector('body').addEventListener('click', function (event) {
    if (event.target.matches('img')) {
      var modal = document.getElementById('myModal');
      var modalImg = document.getElementById('modal-img');
      modal.style.display = "flex";
      modalImg.src = event.target.src
    }
    if (event.target.matches('.close') || event.target.matches('.modal')) {
      var modal = document.getElementById('myModal');
      modal.style.display = "none";
    }
  })
</script>