 {{>navbar }}

<div class="splash">
    <h1>{{companyName}}</h1>
    <p class="subtitle">A film by Kerri Quinn</p>
    <img src="./media/ll_still_1.jpg"/> 
    <a class="link-button" href="/video">Watch trailer</a>
</div>