<div class="splash">
    <div class="content">
        <div class="title">
            <h1>{{companyName}}</h1>
            <p class="subtitle">A film by Kerri Quinn</p>
        </div>
        {{>navbar }}
        <a class="link-button" href="/video">Watch trailer</a>
    </div>




    <div class="filter"></div>
    <div class="background-img-wrap">
        {{!-- <img class="background-img" src="./media/ll_still_7.jpg" /> --}}
    </div>
</div>