{{>navbar }}

<div class="splash">
    <h1>{{companyName}}</h1>
    <p class="subtitle">A film by Kerri Quinn</p>
    <a class="link-button" href="/video">Watch trailer</a>
    <div class="filter"></div>
    <div class="background-img-wrap">
        {{!-- <img class="background-img" src="./media/ll_still_7.jpg" /> --}}
    </div>
</div>