 {{>navbar }}

<div class="container news">
  {{!-- test to see if no posts --}} {{#each posts}}
  <div class="post">
    <h1>{{title}}</h1>
    <div class="timestamp"><time>{{date publishedDate format='MMMM DD, YYYY'}}</time></div>
    <div class="content">{{{content}}}
      <div class="fadeOut"></div>
    </div>
    {{!-- <button class="toggleShow">Show more</button> --}}
  </div>
  {{/each}}
</div>

<script src="./js/showMore.js"></script>

