<nav class="navbar">    
    <div class="links">
        {{# each navLinks}}
        <div>
            <a {{#ifeq ../section key}}class="active link" {{else}}class="link"{{/ifeq}} href="{{ href }}">{{ label }}</a>
        </div>
        {{/each}}
    </div>
</nav>