.splash {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    h1 {
        animation: slideIn 2s 1;
        font-size: calc(40px + 3.5vw);
        margin-top:130px;
        padding: 0 5px;
        font-weight: 300;
        text-align: center;
        color: $bg-contrast-1;
        font-family: $title-font;
        position: relative;
    }
    .subtitle {
        font-family: $title-font;
        animation: rampFadeIn 2s 1;
        font-size: 20px;
        font-style: italic;
        margin-top: 15px;
    }
    .link-button {
        margin: 30px;
        padding: 10px;
        border: solid 1px $bg-contrast-1;
        font-family: $body-font;
        text-transform: uppercase;
        transition: all .5s;
        animation: rampFadeIn 4s 1;
    }
    .link-button:hover {
        color: $background;
        background: $bg-contrast-1;
    }    
}

.background-img-wrap, .filter {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100%;
}

.background-img-wrap {
    background-image: url('../media/ll_still_1.jpg');
    background-position: center;
    // background-position: calc(50% - 50px) 50%;

    background-repeat: no-repeat;
    background-size: cover;  
    z-index: -2;   
    animation: fadeIn 2s 1;

}

.filter {
    background-color:$background;
    opacity:.4;
    z-index: -1;   
}


