.splash {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    .content {
        position: absolute;
        bottom: 50px;
        left: 20px;
        width: 100%;
        .title {
            margin-bottom: 10px;
        }
        nav.navbar {
            position: static;
            top: 0;
            left: 0;
            width: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            height: auto;
            background-color: inherit;
            z-index: 0;
            animation: rampFadeIn 3s 1;
            .links {
                text-align: left;
            }
            .link {
                display: block;
                text-transform: uppercase;
                padding-top: 5px;
                &:hover {
                    @extend %link-hover;
                }
            }
            .hamburger {
                display: none;
            }
            ul {
                list-style-type: none;
                text-align: center;
                margin: 0;
                padding: 0;
            }
            a {
                text-decoration: none;
                color: $bg-contrast-1;
            }
            .active {
                @extend %link-hover;
            }
        }
        @media (max-width: 500px) {
            bottom:20px;
            nav.navbar {
                width: 100% ;
            }
            .link-button {
                position: static;
                display:inline-block;
                margin-top:10px;
            }
        }
    }
    h1 {
        // animation: slideIn 2s 1;
        font-size: calc(40px + 3.5vw);
        font-weight: 300;
        color: $bg-contrast-1;
        font-family: $title-font;
        position: relative;
        display: inline-block;
    }
    .subtitle {
        font-family: $title-font; // animation: rampFadeIn 2s 1;
        font-size: 20px;
        font-style: italic;
        margin-top: 15px;
        display: inline-block;
    }
    img {
        filter: grayscale(0) opacity(.4);
        width: 100vw;
        min-width:650px;
        // min-width: auto;
        position: absolute;
        z-index: -1;
        animation: rampFadeIn 4s 1;
    }
    img::after {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
    }
    .link-button {
        // margin: 30px;
        padding: 10px;
        border: solid 1px $bg-contrast-1;
        font-family: $body-font;
        text-transform: uppercase;
        transition: all .5s;
        animation: rampFadeIn 3s 1;
        position: fixed;
        right: 20px;
        bottom: 50px;
    }
    .link-button:hover {
        color: $background;
        background: $bg-contrast-1;
    }
}

.background-img-wrap,
.filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
}

.background-img-wrap {
    background-image: url('../media/ll_still_1.jpg');
    background-position: center; // background-position: calc(50% - 50px) 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    animation: rampFadeIn 2s 1;
}

.filter {
    background-color: $background;
    opacity: .4;
    z-index: -1;
}