.splash {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    h1 {
        animation: slideIn 2s 1;
        font-size: calc(40px + 3.5vw);
        padding: 0 5px;
        font-weight: 300;
        text-align: center;
        color: $bg-contrast-1;
        font-family: $title-font;
        position: relative;
    }
    .subtitle {
        font-family: $title-font;
        animation: rampFadeIn 2s 1;
        font-size: 20px;
        font-style: italic;
        margin-top: 15px;
    }
    img {
        filter: grayscale(0) opacity(.4);
        width: 100vw;
        min-width:650px;
        // min-width: auto;
        position: absolute;
        z-index: -1;
        animation: rampFadeIn 4s 1;
    }
    img::after {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
    }
    .link-button {
        margin: 30px;
        padding: 10px;
        border: solid 1px $bg-contrast-1;
        font-family: $body-font;
        text-transform: uppercase;
        transition: all .5s;
        animation: rampFadeIn 4s 1;
    }
    .link-button:hover {
        color: $background;
        background: $bg-contrast-1;
    }
}