@import './reset';
//COLORS
// $background: #f4f4f4;
$background:#53656F;


$background-light: #aea9a5;

// $bg-contrast-1: #373737;
$bg-contrast-1: #C2C0BC;

// $bg-contrast-2: #858585;

$bg-contrast-2:#999999;

//FONTS
$title-font: 'Crimson Text',
serif;
$body-font: 'Work Sans',
Arial,
sans-serif;
//SIZES
$nav-height:2em;
body {
    background-color: $background;
    color: $bg-contrast-1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $body-font;
}
*{
    box-sizing:border-box;
}

@import './homepage';
@import './navbar';
@import './contact';
@import './team';
@import './about';
@import './video';
@import './images';
@import './modal';



%link-hover {
    color: $bg-contrast-2;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        top: -20px
    }
    100% {
        opacity: 1;
        top: 0px
    }
}

@keyframes rampFadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

//Global styles
.container {
    margin-top: $nav-height*3;
    max-width: 600px;
    padding: 0 10px;
    animation: fadeIn 1s 1;
    h1 {
        font-family: $title-font;
        text-align: center;
        font-size: 40px;
        margin-bottom: 40px;
    }
}

button {
    border: solid .5px $bg-contrast-1;
    background: transparent;
    color: $bg-contrast-1;
    padding: 8px;
    margin-top: 10px;
    transition: all .1s;
}

a {
    text-decoration: none;
    color: $bg-contrast-1;
}

button:focus,
button:hover {
    background: $background-light;
    outline: none;
}

h1 {
    font-size: 20px;
    font-weight: 300;
}

ul,
ol,
    {
    font-family: $body-font;
}

p {
    line-height: 1.1;
    margin: 10px 0;
    font-family: $title-font;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

em {
    font-style: italic;
}