#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    justify-content:center;
    align-items:center;
    flex-direction:column;
    position: fixed; /* Stay in place */
    z-index: 2000; /* Sit on top */
    left: 0;
    top: 0;
    bottom:0;
    right:0;    
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(169, 169, 169); /* Fallback color */
    background-color: rgba(169, 169, 169,0.9); /* Black w/ opacity */    
    animation:fadeIn .2s 1;
}

/* Modal Content (Image) */
.modal-content {
    display: block;
    width: 80%;
    max-width: 800px;
    animation:fadeIn 1s 1;
}


/* The Close Button */
.close {
    position: absolute;
    top: 35px;
    right: 15px;
    color: $background;
    border:none;
    font-size: 40px;
    font-weight: 100;
    transition: 0.3s;
    background-color:transparent;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
    background-color:transparent;

}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
