#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  //   flex-direction: column;
  position: fixed; /* Stay in place */
  z-index: 2000; /* Sit on top */
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  //   background-color: black;
  animation: fadeIn 0.2s 1;
}

/* Modal Content (Image) */
.modal-content {
  display: block;
  width: 80%;
  max-width: 800px;
  animation: fadeIn 1s 1;
  z-index: 2001;
  margin-top: 50px;
}

/* The Close Button */
.close {
  position: absolute;
  top: -20px;
  right: 5px;
  color: $background;
  border: none;
  font-size: 40px;
  font-weight: 100;
  transition: 0.3s;
  background-color: transparent;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal {
    align-items: start;
  }
  .modal-content {
    width: 100%;
  }
}

@media only screen and (max-height: 650px) {
  .modal {
    align-items: start;
  }
}
