nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $nav-height;
    background-color: inherit;
    z-index: 10;
    .hamburger {
        display: none;
        color: $bg-contrast-1;
    }
    .hamburger:hover {
        cursor: pointer;
        color: $bg-contrast-2;
    }
    ul {
        list-style-type: none;
        text-align: center;
        margin: 0;
    }
    a {
        text-decoration: none;
        color: $bg-contrast-1;
    }
    .active {
        @extend %link-hover;
    }
    .links {
        display: none;
        .link {
            padding: 2px 12px;
            text-transform: uppercase;
        }
        .link:hover {
            @extend %link-hover;
        }
    }
    .full {
        margin-right: 10px;
        display: flex;
        transition: all 1s ease-out;
    }
    .contracted {
        display: none;
    }
    .expanded {
        display: block;
        position: absolute;
        top: $nav-height;
        padding: 0;
        margin: 0;
        background-color: $background;
        width: 100vw;
        border-bottom: 1px solid $bg-contrast-2;
        li {
            display: block;
            padding: 10px;
        }
        animation:fadeIn 0.3s 1;
    }
    @keyframes expand {}
}