.team.container {
    max-width: 1200px;
    text-align: center;
    h2 {
        font-size: 25px;
        font-family: $title-font;
        margin: 50px 0 20px 0;
    }
    h2:nth-child(1) {
        margin-top: 0
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0
    }
    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .team-group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; // Hide bio and link until modal
        .bio,
        .person-link {
            display: none;
        }
        .person:hover {
            background: $bg-contrast-1;
            color: $background;
            cursor: pointer;
        }
    }
    .person {
        display: flex;
        flex-direction: column;
        justify-content: center; // 
        margin: 5px;
        height: 200px;
        width: 225px;
        .img-wrapper {
            height: 70%;
            width: 90%;
            margin: 0 auto;
            background: black;
            overflow: hidden;
            img {
                height: 100%;
                width: auto;
                align-self: center;
            }
        }
        .name {
            font-family: $body-font;
            text-transform: uppercase;
            margin: 6px 0 4px 0;
            a {
                border-bottom: 0.5px solid $bg-contrast-1;
            }
        }
        .role {
            font-family: $title-font;
            font-style: italic;
            margin: 0;
        }
        transition: all .2s;
    }
    #modal-content {
        padding:0 20px;
        max-width: 800px;
        height: 80vh;
        text-align: left;
        .person {
            color: black;
            width: 100%;
            display: block;
            a {
                color: $background;
                text-decoration: underline;
                font-family: $title-font;
            }
            .person-link {
                display: block;
                margin-top: 10px;
            }
            .img-wrapper {
                float: left;
                width: 50%;
                height: auto;
                background: none;
                margin: 0 20px 0 0;
                img {
                    width: 100%;
                    height: auto;
                    display: block;
                    margin: 0 auto !important;
                }
            }
        }
    }
}

@media (max-width:475px) {
    .team.container {
        #modal-content {
        }
        *:not(#modal-content) {
            .person {
                width: 100%;
                max-height: 250px;
                height: auto;
                .img-wrapper {
                    background: none;
                }
            }
        }
    }

    
}