.team.container {
  max-width: 1200px;
  min-width: 300px;
  text-align: center;
  .tabs {
    font-size: 20px;
    font-family: $title-font;
    list-style-type: none;
    width: 100%;
    margin-bottom: 45px;
    display: flex;
    justify-content: space-evenly;
    .tab {
      margin: 0 20px;
      opacity: 0.5;
      cursor: pointer;
      &.active {
        opacity: 1;
        border-bottom: $bg-contrast-1 solid 1px;
      }
    }
    .tab:focus,
    .tab:hover {
      opacity: 1;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  h2:nth-child(1) {
    margin-top: 0;
  }
  .team-group {
    // Hide bio picture, and link until modal
    .bio,
    .person-link,
    img {
      display: none;
    }
  }
  .person {
    // max-width:210px;
    margin: 20px auto 35px auto;
    .name {
      font-family: $body-font;
      text-transform: uppercase;
      margin: 0;
      a {
        border-bottom: 0.5px solid $bg-contrast-1;
      }
    }
    .role {
      font-family: $title-font;
      font-style: italic;
      margin: 0;
    }
    button {
      padding: 3px 6px;
      font-family: $body-font;
      text-transform: uppercase;
      color: $background;
      background: $bg-contrast-1;
    }
    button:hover,
    button:focus {
      color: $bg-contrast-1;
      background: $background;
    }

    transition: all 0.2s;
  }

  #modal-content {
    padding: 20px 20px 0 20px;
    max-width: 800px;
    text-align: left;
    // min-height: 70vh;
    background-color: rgb(169, 169, 169); /* Fallback color */
    position: relative;
    .person {
      color: black;
      width: 100%;
      display: block;
      a {
        color: $background;
        text-decoration: underline;
        font-family: $title-font;
      }
      .showAbout {
        display: none;
      }
      .person-link {
        display: block;
        margin-top: 10px;
      }
      .img-wrapper {
        float: left;
        width: 50%;
        height: auto;
        background: none;
        margin: 0 20px 20px 0;
        img {
          width: 100%;
          height: auto;
          display: block;
          margin: 0 auto !important;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .team.container #modal-content .person {
    .img-wrapper {
      width: 100%;
    }
  }
}
